body{
  background-color: #f5edda;
}

.landing{
  margin-top: 5em;
  margin-bottom: 5em;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.cat-img{
  width: 50%;
  height: 17.5rem;
}

.cat-btn{
  background: inherit;
  border: 1px solid  #f5edda;
  padding: .75em 2.5em .75em 2.5em;
  color:  #f5edda;
}

.container{
  height: 75vh;
  /* padding: 5em; */
}

.prod-tile{
  padding: 5em;
  color:  #f5edda;
}



.prod-tile .row{
  display: flex;
  align-items: center;
  justify-content: center;
}

p{
  font-size: 1.5rem;
}

.menu-options{
  padding: 1em;
}

.menu-options a{
  color: #000;
  text-decoration: none;
  margin-right:2.5em;
  font-size: 1.25em;
}


.btn{
  font-size: 1.25em;
}
#menu-bar{
  height: 3.5em;
  padding-top: 1em;
  padding-left: 1em;
  /* position: fixed; */
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: inherit;
}
.logo{
  height: inherit;
}

.logo img{
  height: inherit;
}

.icon{
  margin-top: 50px;
  width: 100%;
  margin: 0 auto;
}


.display-1{
  font-size: 6.5em;
  font-weight: bold;
}


.landing-text{
  margin-top: 29.5%;
  font-size: 1.5rem;
}

.modal-container{
  width: 100%;
  height: 100vh;
  padding: 2.5%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
}

.modal-box{
  height: 100%;
  width: 100%;
  /* padding: 5%; */
  background-color: #f5edda;
}

.modal-img{
  width: 60%;
  margin: 5% auto;
}


.cart{
  width: 50vw;
  position: fixed;
  top:0;
  right: 0;
  background-color: #f5edda;
  height: 100vh;
  z-index: 100000;
  border: 1px solid grey;
}


.order-item{
  border-bottom: .25px solid grey;
}

.cart-img{
  width: 25%;
  margin-top: 5%;
}
